USE [Gas]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 23/7/2023 20:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_CODIGO] [bigint] IDENTITY(1,1) NOT NULL,
	[CLI_NOMBRE] [varchar](50) NOT NULL,
	[CLI_APELLIDO] [varchar](50) NOT NULL,
	[CLI_ID] [varchar](16) NOT NULL,
	[CLI_EMAIL] [varchar](50) NOT NULL,
	[CLI_TEL] [varchar](10) NOT NULL,
	[CLI_DIRECCION] [varchar](100) NOT NULL,
	[CLI_BORRADO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 23/7/2023 20:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[FACT_CODIGO] [bigint] IDENTITY(1,1) NOT NULL,
	[CLI_CODIGO] [bigint] NOT NULL,
	[FACT_NUMERO] [varchar](50) NOT NULL,
	[FACT_FECHA] [datetime] NOT NULL,
	[FACT_MONTOTOTAL] [decimal](10, 2) NOT NULL,
	[FACT_BORRADO] [bit] NOT NULL,
	[FACT_CANTIDAD] [bigint] NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[FACT_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/7/2023 20:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[USU_CODIGO] [bigint] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [varchar](50) NOT NULL,
	[USU_APELLIDO] [varchar](50) NOT NULL,
	[USU_CEDULA] [varchar](10) NOT NULL,
	[USU_DIRECCION] [varchar](100) NOT NULL,
	[USU_TELEFONO] [varchar](20) NOT NULL,
	[USU_EMAIL] [varchar](100) NOT NULL,
	[USU_USUARIO] [nvarchar](50) NULL,
	[USU_PASSWORD] [nvarchar](50) NULL,
	[USU_ISADMIN] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([CLI_CODIGO], [CLI_NOMBRE], [CLI_APELLIDO], [CLI_ID], [CLI_EMAIL], [CLI_TEL], [CLI_DIRECCION], [CLI_BORRADO]) VALUES (1, N'Jorge', N'Sanchez', N'1102343240', N'jsanchez@hotmail.com', N'0943265540', N'Amaguaña', 0)
INSERT [dbo].[CLIENTE] ([CLI_CODIGO], [CLI_NOMBRE], [CLI_APELLIDO], [CLI_ID], [CLI_EMAIL], [CLI_TEL], [CLI_DIRECCION], [CLI_BORRADO]) VALUES (3, N'Manuel', N'Grijalva', N'1732482506', N'jgrijalva@hotmail.com', N'0954623465', N'Sangolqui', 1)
INSERT [dbo].[CLIENTE] ([CLI_CODIGO], [CLI_NOMBRE], [CLI_APELLIDO], [CLI_ID], [CLI_EMAIL], [CLI_TEL], [CLI_DIRECCION], [CLI_BORRADO]) VALUES (23, N'Santiago', N'Camacho', N'1900788751', N'sacamacho@espe.edu.ec', N'992085942', N'Sangolqui', 1)
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[FACTURA] ON 

INSERT [dbo].[FACTURA] ([FACT_CODIGO], [CLI_CODIGO], [FACT_NUMERO], [FACT_FECHA], [FACT_MONTOTOTAL], [FACT_BORRADO], [FACT_CANTIDAD]) VALUES (1, 1, N'00923', CAST(N'2023-04-05T00:00:00.000' AS DateTime), CAST(30.75 AS Decimal(10, 2)), 0, 10)
INSERT [dbo].[FACTURA] ([FACT_CODIGO], [CLI_CODIGO], [FACT_NUMERO], [FACT_FECHA], [FACT_MONTOTOTAL], [FACT_BORRADO], [FACT_CANTIDAD]) VALUES (2, 1, N'00954', CAST(N'2023-05-02T00:00:00.000' AS DateTime), CAST(23.50 AS Decimal(10, 2)), 0, 7)
INSERT [dbo].[FACTURA] ([FACT_CODIGO], [CLI_CODIGO], [FACT_NUMERO], [FACT_FECHA], [FACT_MONTOTOTAL], [FACT_BORRADO], [FACT_CANTIDAD]) VALUES (5, 3, N'00675', CAST(N'2022-10-09T00:00:00.000' AS DateTime), CAST(40.50 AS Decimal(10, 2)), 0, 15)
SET IDENTITY_INSERT [dbo].[FACTURA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([USU_CODIGO], [USU_NOMBRE], [USU_APELLIDO], [USU_CEDULA], [USU_DIRECCION], [USU_TELEFONO], [USU_EMAIL], [USU_USUARIO], [USU_PASSWORD], [USU_ISADMIN]) VALUES (1, N'Kevin', N'Alava', N'1732463451', N'Cutulagua', N'0923432512', N'kevinalava@espe.edu.ec', N'kealava', N'123', 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE_F_CLIENTE] FOREIGN KEY([CLI_CODIGO])
REFERENCES [dbo].[CLIENTE] ([CLI_CODIGO])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE_F_CLIENTE]
GO
